{:kotoba.app/latest "k51qzi5uqu5djtt1dyta9dn81plkv9i1w1gijooiur8r48m5qfj58ysbvuzc5s", :kotoba.app/site-cid "bafybeihjbkqhtgu7w4cf2pmtymii6o7ay4imsg45xywrz53tg2oru63wzu", :kotoba.app/id "cloud.itonami.air-book", :kotoba.app/kind :document, :kotoba.app/embed-url "ipns://k51qzi5uqu5djtt1dyta9dn81plkv9i1w1gijooiur8r48m5qfj58ysbvuzc5s", :published {:own-nodes {:cid "bafybeihjbkqhtgu7w4cf2pmtymii6o7ay4imsg45xywrz53tg2oru63wzu", :ipns "k51qzi5uqu5djtt1dyta9dn81plkv9i1w1gijooiur8r48m5qfj58ysbvuzc5s", :nodes ["gad" "xavier" "jacob"], :at "2026-10-09T04:09:21Z"}}}
